---
layout: default
header_image: "/assets/images/bg/about-bg.jpg"
title: "Why"
description: "Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim ad minim veniam quis."
---

{% include page_header.html %}
<!-- About Start -->
<section class="section about overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="about-img">
					<img src="{{'/assets/images/about/about.jpg' | relative_url}}" alt="" class="img-fluid w-100"/>
					<div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-7 offset-lg-1 mt-5 mt-md-0">
				<span class="text-color h5 text-uppercase">About Us</span>
				<h3 class="mb-4 mt-3">Simple, rapide,<br>modulaire, ergonomique.</h3>
				<p>Élargissez la cible de vos utilisateurs : vous pouvez enrichir vos applications avec des données géographiques, des graphiques et du contenu éditorial pour les diffuser sur vos sites institutionnels et sur tous les supports.</p>
				<a href="http://kartenn.region-bretagne.fr/kartoviz/demo/" class="btn btn-primary">Exemples</a>
			</div>
		</div>
	</div>
</section>
<!-- About End -->

<!-- Clients Start -->
<section class="section-sm bg-secondary">
	<div class="container">
		<div class="row clients-wrap">
			<div>
				<img src="{{'/assets/images/showcase/1.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/2.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/3.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/4.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/5.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/6.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/7.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/8.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/9.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/10.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/11.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>			<div>
				<img src="{{'/assets/images/clients/12.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/13.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/14.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/15.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/16.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>
			<div>
				<img src="{{'/assets/images/clients/17.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>	
			<div>
				<img src="{{'/assets/images/clients/18.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>	
			<div>
				<img src="{{'/assets/images/clients/19.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>	
			<div>
				<img src="{{'/assets/images/clients/20.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>	
			<div>
				<img src="{{'/assets/images/clients/21.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>	
			<div>
				<img src="{{'/assets/images/clients/22.png' | relative_url}}" alt="" class="img-fluid mx-auto">
			</div>				
		</div>
	</div>
</section>
<!-- Clients End -->

